.header {
  color: azure;
  background-color: darkblue;
  padding: 3px;
  margin: 10px;
  border-radius: 20px;
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
